[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
